*{
    margin: 0;
    padding: 0;
}

.menu-menu-1-container{
    width: 100%;
    margin-top: 50px;
}

.menu-menu-1-container ul.menu{
    display: flex;
    justify-content: space-between;

}

.menu-menu-1-container ul.menu li.menu-item{
    list-style: none;
    margin: 3px;
    background-color: gray;
}

.menu-menu-1-container ul.menu li.menu-item a{
    text-decoration: none;
}
.menu-menu-1-container ul.menu li.menu-item a:hover{
    background-color: #fff;
}

.container {
    width: 100%;
  }
  .container .single-article {
    width: 720px;
    margin: 0 auto;
  }
  .container .single-article h2.single-article-title {
    color: red;
    font-size: 36px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .container .single-article .single-article-thumbnail {
    width: 100%;
  }
  .container .single-article .single-article-thumbnail img {
    width: 100%;
  }
  .container .single-article .single-article-info {
    padding: 5px;
    background-color: #fff;
  }
  .container .single-article .single-article-info p {
    color: #888888;
    font-size: 16px;
  }
  